# Python
__pycache__/
readmefiles/
*.pyc
*.pyo
.env
.venv
env/
.conda/
.ipynb_checkpoints/
.vscode/

# configx files
history.log
configx/pyproject.toml
readmefiles/arch.md
readmefiles/README.md
readmefiles/rules.md
readmefiles/ruleset.md
readmefiles/structure.txt
