# Python
__pycache__/
readmefiles/
*.pyc
*.pyo
.env
.venv
env/
.conda/
.ipynb_checkpoints/
.vscode/
ConfigX.egg-info/
.pytest_cache/
TODO

# configx files
.configx/
history.log
configx/pyproject.toml
readmefiles/arch.md
readmefiles/README.md
readmefiles/rules.md
readmefiles/ruleset.md
readmefiles/structure.txt
